---
import type { GetStaticPaths } from "astro";
import PostPage from "../components/PostPage.astro";
import { getSortedPosts } from "../utils/content-utils";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import { url } from "../utils/url-utils";
import { Icon } from "astro-icon/components";

const LATEST_POSTS_COUNT = 5;

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	return paginate(allBlogPosts, { pageSize: 1000 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

// Only show the latest N posts on the homepage
page.data = page.data.slice(0, LATEST_POSTS_COUNT);

const len = page.data.length;
---

<MainGridLayout>
    <PostPage page={page}></PostPage>
    <a href={url('/articles/')}
       class="btn-plain scale-animation rounded-[var(--radius-large)] h-[3.75rem] w-full px-4 flex items-center justify-center gap-2 font-bold text-[var(--primary)] border border-[var(--line-divider)] onload-animation"
       style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}
    >
        {i18n(I18nKey.more)}
        <Icon name="material-symbols:chevron-right-rounded" class="text-[1.25rem]" />
    </a>
</MainGridLayout>
